@use 'src/styles/vars';

.main {
  background-color: vars.$brightColor;
  overflow-y: scroll;
  height: 60%;
  &__title, &__currency-list {
    color: vars.$mainColor;
    font-size: 1.2rem;
    padding-top: 2rem;
    &__item {
      border-top: 1px solid vars.$mainColor;
      padding: 1rem 0 1rem 1.2rem;
      transition: 0.2s;
    }
    &__item:hover {
      background-color: vars.$alternativeColor;
    }
  }
  &__title {
    font-weight: bold;
    padding-left: 1.2rem;
  }
}
