@use 'src/styles/vars';

.footer {
  background-color: vars.$thirdColor;
  height: 20%;
  position: relative;
  &__content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: vars.$mainColor;
  }
  &__amount {
    font-size: 2.5rem;
    font-weight: bold;
  }
  &__unit {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-top: 1rem;
  }
}
